<%= form_for @dog do |f| %>
  <span>Title: </span>
  <%= f.text_field :name, required: true %><br>
  <span>Image: </span>

  <%= f.text_field :image_src, required: true %><br>
  <span>Bio: </span>

  <%= f.text_field :bio, required: true %><br>

  <%= f.submit %>
<% end %>
